.body {
  background-color: #white;
  font-family: 'Monda', sans-serif;
}

h1 {
  color: white;
  padding: 20px;
  font-size: 48px;
  font-family: 'Bebas Neue', cursive;

}

.navbar  {
	
	font-family: 'Monda', sans-serif;
	font-size: 50px;

}

.card {

    box-shadow: 0 3px 10px rgba(0,0,0,.25);
     

}

.buttonnon {

    display: inline-block;
    color: black;
    border-radius: 5px;
    border: 2px solid #007aff;
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}

.stepno {

    padding: 10;
    border-radius: 5px;
    border: 4px solid #17a2b7; 
    box-shadow: 0 3px 10px rgba(0,0,0,.25);






}
/*.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 5rem;
    line-height: inherit;
    white-space: nowrap;
}*/

/*.button1 {

	display: inline-block;
    text-align: center;
    padding: 15px 30px; 
    background-color: #ff5248;
    color: #fff;
    min-width: 270px;
    letter-spacing: .15em;
    line-height: 1.1428;
    border-radius: 5px;
    text-decoration: none;

	
	width: 180px;
	font-size: 25px;
	font-family: 'Monda', sans-serif;
	background: #ff5349;
	
	border-radius: 11px;
	display: inline-block;
	text-align: center;
}

.button2 {

	display: inline-block;
    text-align: center;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ff5248;
    min-width: 270px;
    letter-spacing: .15em;
    line-height: 1.1428;
    border-radius: 5px;
    border: 2px solid #ff5248;
}*/